.modal_wrapper {
  background-color: var(--color-white);
  width: 20rem;
  min-height: 5rem;
  position: absolute;
  top: calc(120%);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.modal_wrapper .modal_item {
  font-size: 1.5rem;
}
