@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-primary1: #043873;
  --color-primary2: #4f9cf9;
  --color-yellow: #ffe492;
  --color-skyblue: #a7cefc;
  --color-white: #fff;
  --color-black: #212529;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: initial;
}

ul,
ol,
li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
